* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    padding-left: 50px;
    padding-top: 20px;
}

header {
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #989D9C;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 5px;
}

.botao-header {
    background-color: #665AE1;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.imegem-logo{
    width: 570px;
    height: 500px;
}

.texto {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

h1 {
    font-size: 90px;
    color: #515151;
    text-transform: uppercase;
    font-weight: bolder;
}

h2 {
    font-size: 50px;
    font-weight: normal;
    color: #515151;
}

p {
    font-size: 20px; 
}

.botao-texto {
    width: 200px;
    background-color: #ADFF00;
    color: black;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 950px){
    body {
        margin: 0;
    }

    main {
        flex-direction: column;
        width: 90%;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        display: none;
    }

    .texto {
        width: 90%;
        margin-left: 0;
        align-items: center;
    }

    .botao-texto {
        display: block;
        margin: 20px auto;
    }

    img {
        width: 90%;
    }

    header {
        display: none;
    }
}